.button3 {
    all: none;
    border: 1px solid rgba(27, 31, 35, 0);
    box-shadow: rgba(27, 31, 35, 0) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin: 5px;
}

.button3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button3:hover {
    background-color: rgb(38, 158, 164);
    border-radius: 10px;
}

.button3:focus {
    outline: none;
}

.button3:disabled {
    color: rgb(38, 158, 164);
    cursor: default;
}

.button3:active {
    background-color: rgb(0,105,111);
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
    border-radius: 10px;
}

.activeButton {
    background-color: rgb(38, 158, 164);
    border-radius: 10px
}


#title {
  margin: 5px;
  display: inline-block;
  font-weight: bold;
}

#title {
  margin: 5px;
  display: inline-block;
  font-weight: bold;
}