.container {
    display: flex;
    justify-content: space-between; 
    width: 95vw;   
    height: 55vw;
    padding: 40px 61px 40px 200px;
    gap: 100px;
    box-sizing: border-box;
}

.containerInfoCalendar {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 620px;
    height: 844px;
    padding: 10px 20px 10px 20px;
    gap: 50px;
    flex: 1;
    width: calc(50% - 50px); /* Ширина будет занимать половину доступного пространства, минус общий gap */

}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Чтобы текст располагался справа от изображения */
    padding: 30px 50px 30px 50px;
    width: 580px;
    height: 260px;
    border-radius: 40px;
    gap: 10px;
    background: linear-gradient(to right, #F3FAD7, #F4FBD74D);
    box-shadow: 0px 4px 30px 0px #0000004D;
}

.imageContainer {
  margin-right: 8%;
  border-radius: 100px;
}

.image {
  border-radius: 100px;
}

.textContainer {
  width: 278px;
  height: 250px;
  gap: 7px;
  padding: 10px;
}
.name {
    font: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    color: black;
}

.location {
  width: 151px;
  height: 25px;
  gap: 9px;
}

.email {
  width: 258px;
  height: 25px;
  gap: 7px;
}

.descriptionText {
  width: 258px;
  height: 83px;
  font: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
}

.editButton {
    display: flex;
    
}

.miniImage {
  padding-right: 8px;
}

.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 413px;
    height: 481px;
    border-radius: 25px;
    border: 1px;
    border: Miscellaneous/Bar border;
    padding: 15px, 30px, 15px, 30px;
    gap: 16px;
    background: linear-gradient(to right, #F3FAD7, #F4FBD74D);
    box-shadow: 0px 4px 30px 0px #0000004D;
}
.calendarHead {
    height: 38px;
    font-weight: 550;
    line-height: 37.5px;
    font-size: 32px;
}   
.calendarPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 319px;
    height: 332px;
    border-radius: 30px;
    border: 1px;
    border-color: #7C7C7C;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 0px 0px #00000040;
    gap: 20px;
    padding: 20px;
}
.toCalendarButtonContainer { /* добавил чтобы кнопку повыше сделать но не сделал */
    display: flex;
    gap: 10px;
}
.toCalendarButton {
    width: 150px;
    height: 33px;
    border-radius: 13px;
    padding: 5px, 10px, 5px, 10px;
    gap: 10px;
    background-color: #ECB5BB;
    box-shadow: 0px 2px 0px 0px #00000040;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
}
.Day {
    display: flex;
    justify-content: space-between; /* Размещение элементов по краям */
    width: 100%; /* Чтобы контейнер занимал всю ширину */
}

.dayLeftPart, .dayRightPart {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по вертикали */
    gap: 20px;
}

.textDay {
    font-size: 16px;
    font-weight: bold;
}
.circle {
    width: 40px;
    height: 40px;
    background-color: #4E7B58; /* Цвет фона, который использовался на вашем изображении */
    border-radius: 50%; /* Закругление границ для создания круга */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Цвет текста */
    font-weight: bold; /* Жирный текст */
    font-size: 16px; /* Размер текста */
}
.plantOne {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    height: 40px;
    border-radius: 15px;
    background-color: #AEB8C7;
    box-shadow: 2px 4px 10px #0000004D;
} 



.containerCollection {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 847px;
    border-radius: 25px;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(to left, #F3FAD7, #F4FBD74D);
    box-shadow: 0px 4px 30px 0px #0000004D; 
    overflow: auto;
}
.collectionPreview {
    align-self: center;
    font-style: Ribeye Marrow;
    padding-top: 20px;
}
.plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 209px;
    border-radius: 33px;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 20px #0000004D;
}
.collection {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
    justify-content: space-between; /* Разделение элементов по всей ширине */
    gap: 20px; 
}
.plantInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; /* Устанавливаем ширину на 100% родительского контейнера */
    height: 100%;
}
.plantName {
    font-size: 20px;
    font-weight: 800;
}
.plantImage {
    max-width: 100%; /* Устанавливаем максимальную ширину изображения */
    max-height: 100%;
}