.inputBox {
  width: 300px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  background-color: #f3fad7;
  border: none;
  outline: none;
}

.searchDiv {
  border-radius: 30px;
  background-color: #f3fad7;
  width: 450px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flowersContainer {
  background-color: white;
  border: 10px;
  width: 20%;
  height: 13%;
}

.categoriesContainer {
  display: grid;
  margin-top: 2%;
}

.searchImage {
  width: 50px;
  height: auto;
  padding: 10px;
}
