body {
  margin: 0;
  background-color: #fff4e8;
}

header {
  background-color: #4a5f52;
  color: white;
  font-size: x-large;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

#title {
  margin: 0;
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}
